*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    // background-color: white;
  }
.allSearch{
  height: 52px; //con 257 se "despliega"
  width: 334px;
  margin: auto;
  border: 1px solid $purpleMain;
  border-radius: 27px;
  display: block; 
  .searchBar {
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 27px;
      input{
        background-color: transparent;
        outline: none;
        width: 215px;
        position: absolute;
        margin-top: 17px;
        z-index: 2;
      }
  }
    .iconSearch {
      display: flex;
      position: absolute;
      margin: 14px 16px 15px 292px;
      button{
        background-color: transparent;
      }
    }
    .active{
      position: absolute;
      z-index: 1;
      width: 296px;
      margin-top: 13px;
      display: flex;
      justify-content: space-between;
      display: none;
      .iconSearchActive, .closeSearch{
        background-color: transparent;
      }
    }
    .suggestionsCtn{
        display: none; //con block
        height: 205px;
        width: 332px;
        border-radius: 27px;
        font-family: $robotoReg;
        font-size: 16px;
        color: #9CAFC3 ;
        text-align: left;
        .divider{
            opacity: 0.5;
            width: 310px;
            margin: auto;
            border: 1px solid #9CAFC3;
        }
        .suggestion{
          height: 22px;
          padding-left: 23px;
          width: 329px;
          border-radius: 27px;
          margin: 14px 0px;
          display: flex;
          .contentSugg{
                // height: 20px;
                font-size: 18px;
                margin-top: 9px;
                display: none;
            }
        }
        .iconSearchSuggestion{
            margin-right: 14.6px;
            background-color: transparent;
        }
    }
}
.gifosSearch{
    display: none;
        .titleSearch{
            font-family: $MonsBold;
            font-size: 25px;
            color: #572EE5;
            margin: 50px;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
        }
        .verMas{
            text-align: center;
            margin: 78px auto 79px auto;
        }
    }
.gridTemplate{
        display: flex;
        flex-wrap: wrap;
        margin-left: 21px;
        justify-content: center;
        .gifsSearch{ //a nueva clase
            width: 156px;
            height: 120px;
            // background-color: black;
            margin: 21px 21px 0px 0px;
        }
        .imgSearch{
            width: 100%;
            height: 100%;
        }
}
.hoverOptionsSearch{
    display: none;
}

@media (min-width:768px){
        .gridTemplate{
            justify-content: center;
        .gifsSearch{
            width: 260px;
            height: 200px;
            margin: 29px 29px 0px 0px;
            }
        }
        .allSearch{
            width: 551px;
            .searchBar {
              height: 50px;
              display: flex;
              justify-content: center;
              border-radius: 27px;
                input{
                    width: 426px;
                    margin-top: 16px;
                }
            }
              .iconSearch {
                margin: 14px 16px 15px 511px;
              }
              .active{
                width: 516px;
              }
              .suggestionsCtn{
                  display: none; //con block
                  height: 205px;
                  width: 549px;
                  .divider{
                      width: 505px;
                  }
              }
          }
    .hoverOptionsSearch{
        display: inline-block;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        text-align: end;
        width: 260px;
        height: 200px;
        transform: translate(0px, -201px);
    .optionsGifSearch{
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
    }
    .favsSearch img, .maxSearch img, .downSearch img{
      border-radius: 6px;
    }
    .favsSearch, .maxSearch, .downSearch{
        display: flex;
        cursor: pointer;
        margin: 5px;
        border-radius: 6px;
        .btnHoverSearch{
            display: none;
            }
            &:hover{
                .normalSearch{
                    display: none;
                }
                .btnHoverSearch{
                    display: inline-block;
                }
            }
        }
  }
  .gifsSearch:hover .hoverOptionsSearch{
    opacity: 0.7;
    background-color: #572EE5;
  }
  .textGifSearch{
    color: #FFFFFF;
    background: transparent;
    font-family: $robotoReg;
    text-align: left;
    margin: 80px ​0px 0px 12px;
    width: 100%;
    p{
          margin-top: 0px;
        }
      .userSearch{
        font-size: 15px;
        background: transparent;
        height: 17px;
        margin: 90px 0 0 13px;
      }
      .titleGifSearch{
          line-height: normal; //que no se sobreponga el texto
          height: auto;
          width: 95%;
          background: transparent;
          font-weight: bold;
          font-size: 16px;
          margin: 0px 0 0 10px;

      }
  }
}